body {
  width: 98%;
}

header {
  width: 80%;
  margin: 0 auto;
}

header #logo a {
  display: flex;
  text-decoration: none;
  color: #585656;
}

header #logo a:hover {
  color: #676666;
}

header #logo img {
  width: 5rem;
  height: auto;
}

#footer {
  text-align: center;
}

.eyechach {
  position: relative;
}

.description {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2.5rem;
  color: #585656;
}

.eyecatch-img {
  width: 100%;
  height: auto;
  opacity: 0.5;
  background-size: cover;
}

.searches {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -30%);
  margin: 0;
  padding: 0;
  width: 80%;
}

.searches .search {
  opacity: 0.8;
  padding: 0.5em 1em;
  margin: 2em;
  color: black;
  background: white;
  border-bottom: solid 6px white;
  border-radius: 9px;
  width: 100%;
}

.searches .search .area-select {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

