$text-color:#585656;
body{
    width: 98%;
}
header{
    width: 80%;
    margin: 0 auto;
    #logo{
        a{
            display: flex;
            text-decoration: none;
            color:$text-color;
            &:hover{
                color:#676666;
            }
        }
        img{
            width: 5rem;
            height: auto;
        }
    }
}
#footer{
    text-align: center;
}
.eyechach{
    position: relative;
}
.description{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-weight: bold;
    font-size: 2.5rem;
    color: $text-color;
}
.eyecatch-img{
    width: 100%;
    height: auto;
    opacity: .5;
    background-size: cover;
}
.searches{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-30%);
    margin:0;
    padding:0;
    width: 80%;
    .search{
        opacity: .8;
        padding: 0.5em 1em;
        margin: 2em;
        color: black;
        background:white;
        border-bottom: solid 6px white;
        border-radius: 9px;
        width: 100%;
        .area-select{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
        }
    }
}
