$text-color:#585656;
$orange: #ffb32f;
$red:#ff7275;
body{
    width: 98%;
}
header{
    width: 80%;
    margin: 0 auto;
    #logo{
        a{
            display: flex;
            text-decoration: none;
            color:$text-color;
            &:hover{
                color:#676666;
            }
        }
        h1{
            margin-top: .5em;
        }
        img{
            width: 5rem;
            height: auto;
        }
    }
}
#footer{
    text-align: center;
}

/*---------------
トップページ
-------------*/
.eyechach{
    position: relative;
}
.description{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-weight: bold;
    font-size: 2.5rem;
    color: $text-color;
}
.eyecatch-img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 0 80%;
    opacity: .5;
    background-size: cover;
}
.searches{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-30%);
    margin:0;
    padding:0;
    width: 90%;
    .search{
        opacity: .8;
        padding: 0.5em 1em;
        margin: 2em;
        color: black;
        background:white;
        border-bottom: solid 6px white;
        border-radius: 9px;
        width: 100%;
    }
}
.clear-button-css, button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
.feature-select{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li{
        padding: 1rem 3rem;
        padding-left: .5rem;
        margin: .5rem;
        width: 15rem;
        .icon-size{
            font-size: 1.3em;
        }
    }
    .is-private-room{
        border: rgb(110, 204, 110) solid 2px;
        color:   rgb(110, 204, 110);
        input[type="submit"]{
            color:   rgb(110, 204, 110);
        }
        &:hover{
            background-color:  rgb(110, 204, 110);
            color: white;
            transition: all .3s;
            input[type="submit"]{
                color:  white;
            }
        }
    }
    .is-domitory{
        border: rgb(101, 148, 235) solid 2px;
        color:  rgb(101, 148, 235);
        input[type="submit"]{
            color:  rgb(101, 148, 235);
        }
        &:hover{
            background-color:   rgb(101, 148, 235);
            color: white;
            transition: all .3s;
            input[type="submit"]{
                color:  white;
            }
        }
    }
    .is-women-only{
        border:$red solid 2px;
        color:$red;
        input[type="submit"]{
            color:$red;
        }
        &:hover{
            background-color:  $red;
            color: white;
            transition: all .3s;
            input[type="submit"]{
                color:  white;
            }
        }
    }
    .is-foreigner{
        border: $orange solid 2px;
        color: $orange;
        input[type="submit"]{
            color: $orange;
        }
        &:hover{
            background-color:  $orange;
            color: white;
            transition: all .3s;
            input[type="submit"]{
                color:  white;
            }
        }
    }
    .is_vacancy{
        border: rgb(119, 181, 231) solid 2px;
        color:   rgb(119, 181, 231);
        input[type="submit"]{
            color:   rgb(119, 181, 231);
        }
        &:hover{
            background-color:   rgb(119, 181, 231);
            color: white;
            transition: all .3s;
            input[type="submit"]{
                color:  white;
            }
        }
    }
    .campaign{
        border: rgb(149, 119, 231) solid 2px;
        color:   rgb(149, 119, 231);
        input[type="submit"]{
            color:   rgb(149, 119, 231);
        }
        &:hover{
            background-color:   rgb(149, 119, 231);
            color: white;
            transition: all .3s;
            input[type="submit"]{
                color:  white;
            }
        }
    }
}
/*--------
検索結果ページ
-----------*/
#main-area{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
#side_content{
    width: 30%;
}
#main_content{
    width: 60%;
    .search-title{
        font-size: 1.2rem;
        font-weight: bold;
        background: #f0f0f0 ;
        border-top: 3px solid #856d53;
        padding: 1rem;
    }
    .property{
        border-top:  #856d53 dotted 2px;
        margin-top: 1rem;
        .property-name{
            font-size: 1.2rem;
            color: $text-color;
            padding: 1rem;
            font-weight: bold;
        }
        .info-table,th{
            border: 1px solid #dee2e6;
            th{
                text-align: center;
                background: #4bb7d3;
                color: white;
            }
        }
    }
    .property-info{
        display: flex;
        justify-content: space-between;
        .property-img{
            width: 40%;
            height: auto;
        }
    }
    .access-btn{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        a{
            color: white;
        }
        .show-detail-btn,.query-btn{
            width: 48%;
            border-radius: .5rem;
            padding: .6rem;
        }
        .show-detail-btn{
            background: $orange;
        }
        .query-btn{
            background: $red;
        }
    }
}